@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter antialiased scroll-smooth bg-fill-weak dark:bg-fill-strong;
  }
  ::-webkit-scrollbar {
    @apply bg-transparent w-[4px];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-fill-strong dark:bg-fill-weak rounded-full;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
